# ignore all files from the backend/env directory
backend/env/*
backend/db.sqlite3
backend/**/__pycache__/*
backend/**/migrations/*
# ignore all files from the frontend/node_modules directory
frontend/node_modules/*
# ignore all files from the frontend/build directory
frontend/build/*
# ignore all files from webpack configurations
frontend/webpack.common.js
frontend/webpack.dev.js
frontend/webpack.prod.js
